<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gmsMapper">
	<insert id="registerMember" parameterType="MemberDto">
		INSERT INTO GALLERY_MEMBER(
			GALLERY_ID,
			GALLERY_NAME,
			GALLERY_PASSWORD,
			GALLERY_NICKNAME,
			GALLERY_EMAIL,
			ZIPCODE,
			ROADADDRESS,
			JIBUNADDRESS,
			NAMUJIADDRESS,
			JOIN_DATE
		)
		VALUES(
			#{galleryId},
			#{galleryName},
			#{galleryPassword},
			#{galleryNickname},
			#{galleryEmail},
			#{zipcode},
			#{roadAddress},
			#{jibunAddress},
			#{namujiAddress},
			NOW()
		)
	</insert>
	
	<select id="userCheck" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				GALLERY_MEMBER
		WHERE
				GALLERY_ID = #{galleryId}
	</select>
	
	<select id="nameCheck" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				GALLERY_MEMBER
		WHERE
				GALLERY_NICKNAME = #{galleryNickname}
	</select>
	
	<select id="loginMember" parameterType="MemberDto" resultType="MemberDto">
		SELECT
				*
		FROM
				GALLERY_MEMBER
		WHERE
				GALLERY_ID = #{galleryId}
	</select>
	
	<select id="showOneMember" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				GALLERY_MEMBER
		WHERE
				GALLERY_ID = #{galleryId}
	</select>

</mapper>