<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	
	<update id="modifyUser" parameterType="MemberDto">
		UPDATE
				GALLERY_MEMBER
		<set>
			<if test='galleryNickname != null and !galleryNickname.equals("")'>
				GALLERY_NICKNAME = #{galleryNickname},
			</if>
			<if test='galleryEmail != null and !galleryEmail.equals("")'>
				GALLERY_EMAIL = #{galleryEmail}
			</if>
		</set>
		WHERE
				GALLERY_ID = #{galleryId}
	</update>
	
	<delete id="deleteUser" parameterType="MemberDto">
		DELETE FROM
				GALLERY_MEMBER
		WHERE
				GALLERY_ID = #{galleryId}
	</delete>
	
	<insert id="reviewadd" parameterType="ReviewDto">
		INSERT INTO GALLERY_REVIEW(
			ART_TITLE,
			GALLERY_ID,
			GALLERY_NICKNAME,
			REVIEW_DATE,
			REVIEW_TITLE,
			REVIEW_CONTENT,
			REVIEW_RATE
		)
		VALUES(
			#{artTitle},
			#{galleryId},
			#{galleryNickname},
			NOW(),
			#{reviewTitle},
			#{reviewContent},
			#{reviewRate}
		)
	</insert>
	
	<select id="getSearchReview" parameterType="hashmap" resultType="ReviewDto">
		SELECT
				*
		FROM
				GALLERY_REVIEW
		WHERE
				GALLERY_ID = #{galleryId} AND ART_TITLE = #{artTitle}
	</select>
	
	<delete id="deleteReview" parameterType="hashmap">
		DELETE FROM
				GALLERY_REVIEW
		WHERE
				GALLERY_ID = #{galleryId} AND ART_TITLE = #{artTitle}
	</delete>
	
	<select id="showReviewList" parameterType="String" resultType="ReviewDto">
		SELECT
				*
		FROM
				GALLERY_REVIEW
		WHERE
				GALLERY_ID = #{galleryId}
		ORDER BY
				REVIEW_DATE ASC
		LIMIT
				3
	</select>
	
	<select id="showOrderList" parameterType="String" resultType="ShopDto">
		SELECT
				*
		FROM
				GALLERY_SHOP
		WHERE
				GALLERY_ID = #{galleryId}
		ORDER BY
				PAY_ORDER_TIME ASC
		LIMIT
				3
	</select>
</mapper>