<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.spring.GMS.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.spring.GMS.dto.AdminDto" alias="AdminDto"/>
		<typeAlias type="com.spring.GMS.dto.ShopDto" alias="ShopDto"/>
		<typeAlias type="com.spring.GMS.dto.ArtistDto" alias="ArtistDto"/>
		<typeAlias type="com.spring.GMS.dto.ReviewDto" alias="ReviewDto"/>
	</typeAliases>
</configuration>